@import '../../../scss/base.scss';

$color-default: #B9C1CB !default;
$color-success: #53D3CE !default;
$color-error: #F39791 !default;
$input-width: $field-width;

.input__container {
  position: relative;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  width: $input-width;
  max-width: 90%;

  &.--success {
    .input__label {
      color: $color-success;
    }

    .input__field {
      border-bottom: .1rem solid $color-success;
    }

    .input__field:focus ~ .input__label,
    .input__container:not(.--empty) .input__label {
      color: darken($color-success, 10%);
    }

    .input__bar  {
      &:before, &:after   {
        background: $color-success;
      }
    }
  }

  &.--error {
    .input__label {
      color: $color-error;
    }

    .input__field {
      border-bottom: .1rem solid $color-error;
    }

    .input__field:focus ~ .input__label,
    .input__container:not(.--empty) .input__label {
      color: darken($color-error, 10%);
    }

    .input__bar  {
      &:before, &:after   {
        background: $color-error;
      }
    }
  }
}

.input__label {
  color: $color-default;
  font-size: 1.8rem;
  font-weight: normal;
  position: absolute;
  pointer-events: none;
  left: .5rem;
  top: 1rem;
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
}

.input__field {
  font-size: 1.8rem;
  padding: 1rem 1rem 1rem 1rem;
  display: block;
  width: 100%;
  border: none;
  border-bottom: .1rem solid $color-default;
  color: darken($color-default, 30%);
  background: transparent;

  &:focus {
    outline: none;

    ~ .input__bar:before,
    ~ .input__bar:after {
      width: 50%;
    }
  }
}

.input__field:focus ~ .input__label,
.input__container:not(.--empty) .input__label {
  top: -2rem;
  font-size: 1.4rem;
  color: darken($color-default, 10%);
}

.input__bar  {
  position: relative;
  display: block;
  width: calc(100% + 2rem);
  &:before, &:after   {
    content: '';
    height: .2rem;
    width: 0;
    bottom: 0rem;
    position: absolute;
    background: $color-default;
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all;
  }

  &:before {
    left: 50%;
  }

  &:after {
    right: 50%;
  }
}
