.upload-image__container {
  margin: 1.5rem;
}

.upload-image__droppable-area {
  width: 20rem;
  height: 20rem;
  background-color: #fff;
  border-radius: 50%;
  border: .1rem solid #B9C1CB;

  &.--drag-over {
    border: .2rem solid darken(#B9C1CB, 30%);
  }
}

.upload-image__avatar {
  width: 20rem;
  height: 20rem;
  background: url("../../../img/avatar.png");
  background-repeat: no-repeat;
  border-radius: 50%;
  background-size: cover;
}

.upload-image__preview {
  width: 20rem;
  height: 20rem;
  border-radius: 50%;
}


.upload-image__input {
  display: none;
}

.upload-image__message {
  cursor: pointer;
  text-align: center;
}
