.nav {
  display: flex;
  justify-content: space-around;
  max-width: 20rem;
  margin: 0 auto;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.nav__link {
  cursor: pointer;
  font-size: 1.8rem;
  &:hover {
    color: #808080;
  }

  &.--active {
    border-bottom: solid .1rem #808080;
  }
}
