$primary-background: #00C8B3;
$primary-color: #FFF;

$secondary-background: #FFF;
$secondary-color: #49CEC5;
$border-color: #C5C5C5;

$disabled-background: #F6F6F6;
$disabled-color: #C5C5C5;

$font-size: 1.6rem;
$button-width: 60rem;
$button-height: 4rem;

.button__container {
  width: $button-width;
  max-width: 90%;
  height: $button-height;
  border-radius: 5rem;
  cursor: pointer;
  border: none;
  background: none;
  font-size: $font-size;
  transition: .2s all;
  display: flex;
  align-items: center;
  justify-content: center;

  &.--primary {
    background-color: $primary-background;
    color: $primary-color;
  }

  &.--secondary {
    border: .1rem solid $border-color;
    background-color: $secondary-background;
    color: $secondary-color;
  }

  &:focus {
    outline: none;
    opacity: 0.7;
  }

  &:hover:not(:disabled) {
    width: calc(#{$button-width} * 0.95);
    height: calc(#{$button-height} * 0.95);
  }

  &:disabled {
    background-color: $disabled-background;
    color: $disabled-color;
    border: none;
    cursor: default;
  }
}
